<footer class="w-full text-center border-t border-gray-200 p-4 pin-b text-xs text-gray-400 bg-gray-800">
        <div class="flex justify-between text-center text-sm max-w-md mx-auto">
                <div class="tc">
                        <a class="link near-white bb" href="https://github.com/fidiego">GitHub</a>
                </div>
                <div class="tc">
                        <a class="link near-white bb" href="https://twitter.com/olmecaThrowback">Twitter</a>
                </div>
                <div class="tc">
                        <a class="link near-white bb" href="https://keybase.io/cognitivereflex">Keybase</a>
                </div>
        </div>
</footer>
