<header class="w-full">
        <nav class="p-4 flex justify-space-between">
                <div class="max-w-4xl mx-auto w-full flex items-center justify-between flex-wrap">
                        <div>
                                <div id="landing-image" style="width: 240px; height: 240px; background-color: #253751; background-image: url(https://avatars0.githubusercontent.com/u/2704860?s=460&v=4); background-size: contain;">
                                </div>
                        </div>
                        <div class="h-full flex items-center justify-start flex-grow p-8 max-w-lg">
                                <div>
                                <p class="text-4xl font-semibold">
                                <span>Cognitive</span>
                                <br/>
                                <span>Reflex</span>
                                </p>
                                <p class="text-gray-500">
                                Full stack dev at large
                                </p>
                                </div>
                        </div>
                        <div class="h-full flex items-end">
                                <ul id="landing-nav-menu" class="w-full flex items-end sm:w-auto hidden sm:block justify-end list-reset mt-2 sm:mt-0 text-gray-200">
                                        <li class="mb-2">
                                                <a href="/blog" class="inline-block sm:px-2 hover:text-blue-400">Blog</a>
                                        </li>
                                        <li class="mb-2">
                                                <a href="/projects" class="inline-block sm:px-2 hover:text-blue-400">Projects</a>
                                        </li>
                                        <li class="mb-2">
                                                <a href="/experience" class="inline-block sm:px-2 hover:text-blue-400">Experience</a>
                                        </li>
                                        <li>
                                                <a href="/contact" class="inline-block sm:px-2 hover:text-blue-400">Contact</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </nav>
</header>

