<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="author" content="Cognitive Reflex">
                <meta name="description" content={{.Page.Description}}>
                <title>{{.Page.Title}} | {{ .Site.Title }}</title>
                <link rel="stylesheet" href="/css/tachyons.min.css"/>
        </head>
        <body class="code bg-near-black near-white">
                <div class="measure center ph2">
                        {{partial "header"}}
                        <div class="pb4 mb4 bb bt-0 bl-0 br-0 b--dashed">
                                <form class="measure center" action="https://formspree.io/contact@cognitivereflex.com" method="POST">

                                        <div class="mt3 mb3">
                                                <label class="mb1 db fw6 lh-copy f6" for="email-address">Email</label>
                                                <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white near-white w-100" type="email" name="email-address"  id="email-address"/>
                                        </div>

                                        <div class="mt3 mb3">
                                                <label class="mb1 db fw6 lh-copy f6" for="body">Body</label>
                                                <textarea class="input-reset pa2 ba bg-transparent hover-bg-black hover-white near-white w-100" rows="5" type="text" name="body"  id="body">
                                                </textarea>
                                        </div>
                                        <input class="input-reset w-100 pa2 bg-near-black near-white hover-bg-near-white hover-near-black" type="submit" value="Send">
                                </form>
                        </div>
                        <div class="flex justify-between">
                                <div class="tc">
                                        <a class="link near-white bb" href="https://github.com/fidiego">GitHub</a>
                                </div>
                                <div class="tc">
                                        <a class="link near-white bb" href="https://twitter.com/olmecaThrowback">Twitter</a>
                                </div>
                                <div class="tc">
                                        <a class="link near-white bb" href="https://keybase.io/cognitivereflex">Keybase</a>
                                </div>
                        </div>
                </div>
                </div>
        </body>
</html>
