<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="author" content="Cognitive Reflex">
                <meta name="description" content={{.Page.Description}}>
                <title>{{.Page.Title}} | {{ .Site.Title }}</title>
                <link rel="stylesheet" href="/css/tachyons.min.css"/>
        </head>
        <body class="code bg-near-black near-white">
                <div class="mid-width ph2 center w-100 mw6-ns">
                        {{partial "header"}}
                        <article>
                                <h2 class="f-title lh-solid">
                                        {{.Title}}
                                </h2>
                                <div>
                                        {{.Params.Role}}
                                </div>
                                <div>
                                        {{.Params.Range}}
                                </div>
                                <hr class="near-white mt3 bb bt-0 bl-0 br-0 b--dashed"/>
                                <div class="lh-copy">
                                        {{.Content}}
                                </div>
                        </article>
                        <footer>
                                <div class="flex justify-between ph2 pv4 mt4 bt bb br-0 bl-0 b--dashed">
                                        <div>
                                                <a class="link near-white" href="/experience">
                                                        ← Back to Experience
                                                </a>
                                        </div>
                                </div>
                        </footer>
                </div>
        </body>
</html>



