<div class="center">
        <h1 class="lh-title">
                Cognitive Reflex
        </h1>
</div>
<div class="pb3 pt3 mb3 flex justify-between bb bt br-0 bl-0 b--dashed">
        <a class="link dim grow center near-white" href="/projects">
                Projects
        </a>
        <a class="link dim grow center near-white" href="/experience">
                Experience
        </a>
        <a class="link dim grow center near-white" href="/code">
                Code
        </a>
        <a class="link dim grow center near-white" href="/contact">
                Contact
        </a>
</div>
