<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="author" content="Cognitive Reflex">
                <meta name="description" content="What is a cognitive reflex?">
                <title>404 Not Found | Cognitive Reflex</title>
                <link rel="stylesheet" href="/css/tachyons.min.css"/>
        </head>
        <body class="code bg-near-black near-white">
                <div class="measure center ph2 tc">
                        <h1 class="f1 f-headline ttu tracked">
                                404
                        </h1>
                        <h2 class="f-subheadline">
                                Page Not Found
                        </h2>
                        <a class="link near-white" href="/">← Let's head back to terra firma</a>
                </div>
        </body>
</html>

